<mat-card class="center-card">
    <mat-card-content>
      <form [formGroup]="postForm" (ngSubmit)="updatePost()">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Posted By</mat-label>
          <input matInput formControlName="postedBy">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea matInput rows="5" formControlName="content"></textarea>
        </mat-form-field>
  
        <mat-label>Image</mat-label>
        <input type="file" (change)="onFileChanged($event)">
                <img *ngIf="previewUrl" [src]="previewUrl" alt="Prévisualisation" width="200">
  
       
  
        <hr />
        <div class="container row">
          <div class="col-md-12">
            <div *ngIf="message">{{ message }}</div>
          </div>
        </div>
  
        <div class="container row">
         
          
        </div>
  
        
  
        <button mat-raised-button color="primary" style="float: right;" [disabled]="!postForm.valid">
          Update Post
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  